.movieDetails {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--color-gradient); 
  z-index: 0;
}

.movieDetailsCard {
  background-image: var(--color-gradient);
  background-attachment: fixed;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  z-index: 100;
}

.posterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.infoContainer {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: var(--color-shadow);
  flex-direction: column;
  padding: 20px;
  color: var(--color-text);
}

.infoContainer h1 {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.infoContainer h3 {
  color: var(--color-tertiary);
  font-family: 'Oswald';
  font-weight: normal;
  padding: 1rem 0;
}

.buttonGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 481px) {
  .infoContainer h1 {
    font-size: 2rem;
  }

  .infoContainer p {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .overlay{
    top: 0;
  }
  .movieDetailsCard {
    flex-direction: row;
    min-height: 70vh;
    
  }

  .posterContainer {
    flex: 1 1 45%;
    width: 45%;
    margin-bottom: 0;
  }

  .infoContainer {
    flex: 1 1 55%;
    overflow-y: scroll;
  }

  .buttonGroup {
    width: auto;
  }

  .infoContainer h1 {
    font-size: 2.6rem;
  }

  .infoContainer h3 {
    font-size: 1.5rem;
  }

  .infoContainer h4 {
    font-size: 1.3rem;
    font-weight: normal;
  }

  .infoContainer p {
    font-size: 1rem;
    overflow-y: scroll;
  }
}

@media(min-width: 1200px){
  .posterContainer {
    flex: 1 1 35%;
    margin-bottom: 0;
  }

  .infoContainer {
    flex: 1 1 55%;
  }
}
