.card {
  width: 100%;
  height: 500px;
  padding: 2px 3px;
  margin: 5px;
  background-color: rgb(43, 42, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6), 0 3px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.card:hover {
  box-shadow: 0 0 7px white, 0 0 7px white;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover; /* Cover the entire container */
}