@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
  /* ========================== MAIN NAVIGATION ============================ */


 h2, h3, h4, h5{
  font-family:'Josefin Sans';
}
/* *** Global Color Variables *** */
:root {
  --color-primary: rgb(43, 42, 45);
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-secondary: rgb(43, 42, 45);
  --color-tertiary: #FFA500;
  --color-glow: rgba(64, 196, 253, 1);
  --color-hover-shadow: white;
  --color-text: white;
  --color-gradient: linear-gradient(
    rgba(0, 0, 0, 0.85) 10%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.95) 90%
  );
  --color-secondary-gradient: linear-gradient(rgba(56, 54, 58, 1), rgba(35, 33, 39, 1));
}


.output-message{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.output-message h1{
  text-transform: uppercase;
  font-family:'arial';
  padding: 10px;
  color: var(--color-tertiary);
  font-size: 3rem;
}


.output-message p{
  font-family:'arial';
  color: var(--color-glow);
  font-size: 1.5rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
