.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  .detailItem {
    padding: 10px;
    border-radius: 5px;
  }
  
  .detailItem h4 {
    margin: 0;
    color: white; /* Orange color for headings */
    font-family: 'Oswald';
  }
  
  .detailItem p {
    margin: 5px 0 0 0;
    color: #FFA500;
    font-family: 'Oswald';
    font-size: 1.4rem
  }